body {
    margin: 0;
    padding: 0;
    font-family: sans-seriff;
    background-color: limegreen;
}

.main2 {
    position: relative;
    left: 50px;
}


    .main2 img {
        width: 200px;
        height: 200px;
        position: relative;
        top: 250px;
        left: 800px;
    }

    .main2 label[for=username] {
        position: relative;
        top: 350px;
        left: 500px;
    }

    .main2 input[type=text] {
        position: relative;
        top: 350px;
        left: 500px;
    }



    .main2 input[type=password], label[for=password] {
        position: relative;
        top: 350px;
        left: 705px;
    }

    .main2 input[type=submit] {
        position: relative;
        top: 400px;
        left: 600px;
    }
